.navDesktop > * {
  border: 1px solid red;
}
/* IMPORT Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

/* Common & Utilities Style Rules */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

.link-button {
  display: inline-block;
  background-color: #e02c6d;
  border-radius: 2.56rem;
  padding: 0.63rem 1.5rem;
  text-decoration: none;
  color: white;
}

.link-button:visited {
  text-decoration: none;
  color: white;
}

.container {
  margin-bottom: 5rem;
}

/*---------- HEADER Section ----------*/

/*---------- Navbar: Mobile View */
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-items > h1 {
  font-size: 1.5rem;
}

.nav-icon {
  font-size: 1.5rem;
}
/*---------- MAIN Section ----------*/

/*---------- Cover Section */
.cover-section {
  display: flex;
  flex-flow: column-reverse wrap;
}
.half-view-left > h1 {
  font-size: 1.75rem;
  line-height: 2.63rem;
  font-weight: 700;
  text-align: center;
}
.half-view-left > p {
  font-size: 0.88rem;
  line-height: 1.31rem;
  font-weight: 500;
  text-align: center;
}

.half-view-left {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 1.5rem;
}

.half-view-right {
  display: flex;
  justify-content: center;
}

.cover-img {
  max-width: 257px;
  max-height: 257px;
}

/*---------- Vendors Logo Sections */
.logo-line {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.logo-line > img {
  max-width: 3rem;
}
/*---------- Popular Collection Sections */
.popular-collection-section > h1 {
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.product-title {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.price {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.someText {
  font-size: 0.88rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.collection {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.product {
  padding: 2rem;
}

.product > img {
  width: 100%;
}
/*---------- FOOTER Section ----------*/
footer > h1,
footer > p {
  font-size: 1rem;
  text-align: center;
  padding: 0;
}

footer {
  background-color: #161616;
  color: whitesmoke;
  padding-top: 1rem;
  padding-left: 0;
}
ul.socials {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  padding: 0;
}
.social > a,
.social > a:visited {
  text-decoration: none;
  color: whitesmoke;
}
/*---------- Customizing Font Awesome ----------*/
.fa-star,
.fa-star-half {
  color: gold;
}

/*---------- MEDIA QUERIES ----------*/

/*
 Small devices (landscape phones, 576px and up)
*/
@media screen and (min-width: 576px) {
  .collection {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo-line > img {
    max-width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .cover-section {
    flex-flow: row;
    padding: 7.5rem;
    justify-content: space-around;
  }

  .half-view-left {
    align-items: flex-start;
  }
  .half-view-left > h1,
  .half-view-left > p {
    font-size: 2rem;
    text-align: left;
  }

  .half-view-left > p {
    font-size: 1rem;
  }
  .collection {
    margin: 0 5rem;
  }

  .logo-line-2 {
    justify-content: space-evenly;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .collection {
    margin: 0 12rem;
  }

  .navDesktop {
    display: flex;
    justify-content: space-around;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  .nav-links > li > a,
  .nav-links > li > a:visited {
    text-decoration: none;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .collection {
    max-width: 1200px;
    margin: 0 auto;
  }
}
